RewriteEngine On
RewriteBase /gorev_sitesi/

# Ana dizindeki dosyalar için rewrite kuralını uygulama
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]